setuptools
wheel
ipywidgets
ujson
cuda-python==12.6.0
numpy==1.26.4
robosuite==1.4.1
stable-baselines3[extra]==2.3.2
tensorboard==2.17.0
h5py==3.11.0
optuna==3.6.1
torch==2.4.0
torchvision===0.19.0
tensorflow==2.17.0
tensorrt==10.3.0